<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <title>{% block title %}Fitbrain Lab{% endblock %}</title>
    <style>
        html {
            scroll-behavior: smooth;
        }

    </style>
</head>
<body class="{% block body_class %}{% endblock %}">
    <nav class="navbar">
        <div class="logo">
            <a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Fit Brain Lab Logo" /></a>
        </div>
        <ul>
            <li><a href="/" class="{% if request.path == '/' %}active{% endif %}">Home</a></li>
            <li><a href="/activity" class="{% if request.path == '/activity' %}active{% endif %}">Tips & Tricks</a></li>
            <li><a href="/research" class="{% if request.path == '/research' %}active{% endif %}">Research</a></li>
            <li><a href="/publications" class="{% if request.path == '/publications' %}active{% endif %}">Publications</a></li>
            <li><a href="/aboutus" class="{% if request.path == '/aboutus' %}active{% endif %}">About Us</a></li>
            <li><a href="/gamepage" class="{% if request.path == '/gamepage' %}active{% endif %}">Brain Games</a></li>
        </ul>
    </nav>

    <div class="content-container">
        {% block content %}{% endblock %}
    </div>
    <footer class="site-footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Fit Brain Lab Logo" />
    </div>
    <div class="footer-nav">
      <a href="/">Home</a>
      <a href="/activity">Tips & Tricks</a>
      <a href="/research">Research</a>
      <a href="/publications">Publications</a>
      <a href="/about_us">About Us</a>
      <a href="/gamepage">Brain Games</a>
    </div>
    <div class="footer-info">
      <p>&copy; 2025 Fitbrain Lab - University of Amsterdam</p>
      <p>Swammerdam Institute for Life Sciences, Faculty of Science</p>
    </div>
  </div>
</footer>

</body>
</html>
