<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px; 
  margin-left: 1rem;
}

      .logo {
    height: 80px !important;
    width: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

        .logo-text {
        font-size: 0.8rem;
        text-align: center;
        margin-top: 2px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
   
    <title>{% block title %}Fitbrain Lab{% endblock %}</title>
</head>
<body>
    <div class="scrollmenu">
        <a href="/" class="btn btn-primary nav-link {% if request.path == '/' %}active{% endif %}">Home</a>
        <a href="/activity" class="btn btn-primary nav-link {% if request.path == '/activity' %}active{% endif %}">Activity</a>
        <a href="/research" class="btn btn-primary nav-link {% if request.path == '/research' %}active{% endif %}">Research</a>
        <a href="/publications" class="btn btn-primary nav-link {% if request.path == '/publications' %}active{% endif %}">Publications</a>
        <a href="/aboutus" class="btn btn-primary nav-link {% if request.path == '/aboutus' %}active{% endif %}">About Us</a>
        <a href="/gamepage" class="btn btn-primary nav-link {% if request.path == '/gamepage' %}active{% endif %}">FitBrain Game</a>
    </div>
    
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Fit Brain Lab Logo" class="logo">

    {% block content %}{% endblock %}
</body>
</html>
